doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(property="og:title" content="I AM NABIL THARWAT - Full-Stack Developer")
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://iamnabil.me/portfolio")
    meta(property="og:image" content="../assets/meta.png")
    meta(property="og:description" content="Hello, I'm Nabil Tharwat, a full-stack developer based in Egypt. I build websites using the MERN stack.")
    meta(name="description", content='I AM NABIL THARWAT - Welcome to my portfolio.')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title I AM NABIL THARWAT - Full-Stack Developer
    link(rel='apple-touch-icon', sizes='57x57', href='assets/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='assets/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='assets/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='assets/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='assets/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='assets/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='assets/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='assets/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='assets/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='assets/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='assets/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='assets/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='assets/favicon-16x16.png')
    link(rel='manifest', href='assets/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='assets/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    script(src="webP.js")
    link(href="index.css" rel="stylesheet")
    
  body.u-noAnimation-fallback
    header.o-header
      .o-header--intro
        nav#headerNavigation.o-header--navigation.u-width-2
          a.c-anchor.c-anchor--nav.u-display-none.u-opacity-zero.u-fadeinto-left(href="#skills" aria-role="menuitem") Skills
          a.c-anchor.c-anchor--nav.u-display-none.u-opacity-zero.u-fadeinto-left(href="#works" aria-role="menuitem") Works
          a.c-anchor.c-anchor--nav.u-display-none.u-opacity-zero.u-fadeinto-left(href="#contact" aria-role="menuitem") Contact
          button.c-hamburger-container#navigationButton(aria-label='Menu' aria-controls='headerNavigation' aria-role="menuitem")
            span.c-hamburger
        .o-header--textIntro.u-clearfix
          p.c-heading-2.o-header-heading I AM Nabil Tharwat
    .o-body
      .o-body-firstIntro.c-section
        h1.o-firstIntro-heading.u-animation-fadeInto-right I build refreshing websites
        img.o-firstIntro-plant.u-animation-fadeInto-left(src="../assets/plant.jpg" alt="Introduction plant image")
      .o-body-secondIntro.c-section.u-animation-fadeInto-top
        h1.o-secondIntro-heading I take pride in providing an exceptional browsing experience.
        .o-secondIntro-perks 
          .c-perk
            img.c-perk-img(src="../assets/butterfly.svg" alt="Elegance Icon")
            h3.c-perk-header Elegance
            p.c-perk-description I thrive to make my code beautiful and my designs precise. 
          .c-perk
            img.c-perk-img(src="../assets/connection.svg" alt="Slow connection Icon")
            h3.c-perk-header Slow connection?
            p.c-perk-description No worries! You'll get code that loads in blazing fast speed!
          .c-perk
            img.c-perk-img(src="../assets/back.svg" alt="Version control Icon")
            h3.c-perk-header Wanna revert?
            p.c-perk-description Easy! With version control, we'll have the best flow. 
          .c-perk
            img.c-perk-img(src="../assets/meter.svg" alt="Performance Icon")
            h3.c-perk-header 
              span.c-symbol ∞
              | FPS 
            p.c-perk-description I'm all about efficiency and performance, buckle up!
        form(method="GET" action="Resume.pdf")
          button.o-secondIntro-cv.c-button.c-button--red
              p Download my CV
      .c-pageBreak
        hr.c-hr-break
        h1.c-section-title.u-color-base My recent works
      .o-body-projects.c-section#works
        .c-project(data-project='clockAnimated')
          .c-project-preview.u-animation-fadeInto-right 
              .c-preview-desktop
                .c-desktop-img
                .c-preview-mobile
                  .c-mobile-img
          .c-project-info.u-animation-fadeInto-left
            h1.c-project-title Clock Animated
            p.c-project-description A demo clock with elegance and performance in mind.
            form(method="GET" action="https://KL13NT.github.io/Clock-Animated")
              button.c-button--round
                p Demo
        .c-project(data-project='SW19')
          .c-project-preview.u-animation-fadeInto-right
              .c-preview-desktop
                .c-desktop-img
                .c-preview-mobile
                  .c-mobile-img
          .c-project-info.u-animation-fadeInto-left
            h1.c-project-title SW19
            p.c-project-description A tiny animation made for fun!
            form(method="GET" action="https://KL13NT.github.io/SW19")
              button.c-button--round 
                p Demo
      .c-pageBreak
        hr.c-hr-break
        h1.c-section-title.u-color-trueblack I 
          span.u-text-bold enjoy 
          | working with 
      .o-skills#skills
        .c-skill(data-skill="Javascript")
          h3.c-skill-title Javascript
          .c-skill-progress
          .c-skill-description ES2018+, Babel, Webpack
        .c-skill(data-skill="React")
          h3.c-skill-title React
          .c-skill-progress
          .c-skill-description React, Redux, Thunk, Next, Apollo
        .c-skill(data-skill="Responsive")
          h3.c-skill-title Responsive Design 
          .c-skill-progress
          .c-skill-description HTML5+, CSS3+
        .c-skill(data-skill="Pre-Processors")
          h3.c-skill-title Pre-Processors
          .c-skill-progress
          .c-skill-description Sass, Stylus, Slim, Pug, Flow, PostCSS
        .c-skill(data-skill="Server")
          h3.c-skill-title Server Architecture
          .c-skill-progress
          .c-skill-description Node, Express, Passport, GraphQL
        .c-skill(data-skill="Database")
          h3.c-skill-title Database Architecture
          .c-skill-progress
          .c-skill-description MongoDB, Firebase Firestore, Redis
        .c-skill(data-skill="Libraries")
          h3.c-skill-title Libraries & Frameworks
          .c-skill-progress
          .c-skill-description Underscore, jQuery, Bootstrap, Skeleton, PureCSS
        .c-skill(data-skill="Testing")
          h3.c-skill-title Testing
          .c-skill-progress
          .c-skill-description Jest, Mocha, Karma
        .c-skill(data-skill="DevOps")
          h3.c-skill-title DevOps
          .c-skill-progress
          .c-skill-description Heroku, GitHub, AWS, Google Cloud Storage, CircleCI
        .c-skill(data-skill="Design")
          h3.c-skill-title Design
          .c-skill-progress
          .c-skill-description Adobe Photoshop, Illustrator, XD, Figma, inVision Studio
      .c-pageBreak
    footer.o-footer.u-animation-fadeInto-top#contact
      form(action="mailto:nabil.tharwat@outlook.com")
        h1.c-section-title.u-color-base Have any questions?
        button.c-button--red.c-button--round.u-center-h(type="submit")
          p Contact me!
        .o-header-links
            a(href="https://www.facebook.com/twiapos")
              img(src="../assets/facebook.svg" alt="My Facebook")
            a(href="https://twitter.com/Nabil_Tharwat16" )
              img(src="../assets/twitter.svg" alt="My Twitter")
            a(href="https://www.linkedin.com/in/nabil-tharwat-30335b127/" )
              img(src="../assets/linkedin.svg" alt="My LinkedIn")
    script(src="index.prod.js")