//This file includes all base elements [resets], unmodified and scalable across the page
@import './settings.styl'

body, html, *
	box-sizing border-box
	padding 0
	margin 0
	font-family 'Nunito', sans-serif

header, footer 
	width 100%
	height 100vh

nav{
	width 100%
	position absolute	
  display flex
  flex-direction row
  align-items center
}

a,button,button, a:active,button:active,button:active{
	text-decoration: none
	outline none
  border none
  background transparent
  text-decoration none
  color $base
} 

form
	text-align center